<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>HotNano</title>
</head>
<body>
    <h2>HotNano</h2>

    {% block body %}{% endblock %}

    <p>Copyright &copy; 2018 Mr. Nano &mdash; {{ app_name }} v{{ app_version }}</p>
</body>
</html>
